.create-bug-wrapper {
  margin: 50px;
}

.create-bug-wrapper>input {
  width: 250px
}

.createBugBtn {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  border: none;

}

.developerBtn {
  width: 70px;
  height: 30px;
  margin: 0 3px;
  border-radius: 20px;
  background-color: rgb(141, 23, 167);
  color: white;
  border: 1px solid rgb(65, 62, 65);
  outline: none;
}

.create-bug-wrapper>select {
  padding: 2px;
  width: 250px;
}
